@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300;1,500&display=swap");


*{
    padding: 0%;
    margin: 0%;
}
header {
    background-color: rgb(78, 70, 24);
    height: 30px;
    font-size: x-large;
    color: rgb(66, 224, 224);
    border: 1px solid black;
    padding-left: 95px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    
}
li {
    list-style-type: none;
    
}
a {
    text-decoration: none;
    color: black;
    font-size: large;
    padding-right: 125px;
    padding-top: 4px;
}
.cart {
    padding-right: 15px;
    padding-top: 2px;
}
.icon {
    padding-right: 300px;
    padding-top: 2px;}

p {
    margin-top: 35px;
    text-align: center;
    font-family: "Nunito";
    
}